* {
  padding: 0.5rem;
  margin: 0.5rem;
}

#css-zen-garden {
  grid-area: "css-zen-garden";
  border: 5px solid purple;
}
#css-zen-garden :before {
  content: "id = css-zen-garden";
  position: absolute;
}

.page-wrapper {
  grid-area: "page-wrapper";
  border: 5px solid purple;
}

#zen-intro {
  grid-area: "zen-intro";
  border: 5px solid purple;
}

header {
  grid-area: "header";
  border: 5px solid purple;
}

#zen-summary {
  grid-area: "zen-summary";
  border: 5px solid purple;
}

.intro {
  grid-area: "intro";
  border: 5px solid purple;
}

#zen-supporting {
  grid-area: "zen-supporting";
  border: 5px solid purple;
}

#zen-preamble {
  grid-area: "zen-preamble";
  border: 5px solid purple;
}

.preamble {
  grid-area: "preamble";
  border: 5px solid purple;
}

.main {
  grid-area: "main";
  border: 5px solid purple;
}

#zen-explanation {
  grid-area: "zen-explanation";
  border: 5px solid purple;
}

#zen-participation {
  grid-area: "zen-participation";
  border: 5px solid purple;
}

#zen-benefits {
  grid-area: "zen-benefits";
  border: 5px solid purple;
}

#zen-requirements {
  grid-area: "zen-requirements";
  border: 5px solid purple;
}

.supporting {
  grid-area: "supporting";
  border: 5px solid purple;
}

.explanation {
  grid-area: "explanation";
  border: 5px solid purple;
}

#footer {
  grid-area: "preamble";
  border: 5px solid purple;
}

#linkList {
  grid-area: "preamble";
  border: 5px solid purple;
}

#linkList2 {
  grid-area: "preamble";
  border: 5px solid purple;
}

#lselect {
  grid-area: "preamble";
  border: 5px solid purple;
}

#larchives {
  grid-area: "preamble";
  border: 5px solid purple;
}

#lresources {
  grid-area: "preamble";
  border: 5px solid purple;
}

.participation {
  grid-area: "participation";
  border: 5px solid purple;
}

.benefits {
  grid-area: "benefits";
  border: 5px solid purple;
}

.requirements {
  grid-area: "requirements";
  border: 5px solid purple;
}

.content-info {
  grid-area: "content-info";
  border: 5px solid purple;
}

.zen-validate-css {
  grid-area: "zen-validate-css";
  border: 5px solid purple;
}

.zen-validate-html {
  grid-area: "zen-validate-html";
  border: 5px solid purple;
}

.zen-accessibility {
  grid-area: "zen-accessibility";
  border: 5px solid purple;
}

.zen-license {
  grid-area: "zen-license";
  border: 5px solid purple;
}

.extra1 {
  grid-area: "extra1";
  border: 5px solid purple;
}

.extra2 {
  grid-area: "extra2";
  border: 5px solid purple;
}

.extra3 {
  grid-area: "extra3";
  border: 5px solid purple;
}

.extra4 {
  grid-area: "extra4";
  border: 5px solid purple;
}

.extra5 {
  grid-area: "extra5";
  border: 5px solid purple;
}

.extra6 {
  grid-area: "extra6";
  border: 5px solid purple;
}

.zen-github {
  grid-area: "zen-github";
  border: 5px solid purple;
}

.sidebar {
  grid-area: "sidebar";
  border: 5px solid purple;
}

.wrapper {
  grid-area: "wrapper";
  border: 5px solid purple;
}

.design-selection {
  grid-area: "design-selection";
  border: 5px solid purple;
}

.select {
  grid-area: "select";
  border: 5px solid purple;
}

#design-selection {
  grid-area: "design-selection-id";
  border: 5px solid purple;
}

.designer-name {
  grid-area: "designer-name";
  border: 5px solid purple;
}

.design-name {
  grid-area: "design-name";
  border: 5px solid purple;
}

.design-archives {
  grid-area: "design-archives";
  border: 5px solid purple;
}

#design-archives {
  grid-area: "design-archives-id";
  border: 5px solid purple;
}

.archives {
  grid-area: "archives";
  border: 5px solid purple;
}

.next {
  grid-area: "next";
  border: 5px solid purple;
}

.indicator {
  grid-area: "indicator";
  border: 5px solid purple;
}

.viewall {
  grid-area: "viewall";
  border: 5px solid purple;
}

.zen-resources {
  grid-area: "zen-resources";
  border: 5px solid purple;
}

#zen-resources {
  grid-area: "zen-resources-id";
  border: 5px solid purple;
}

.css-resources {
  grid-area: "css-resources";
  border: 5px solid purple;
}

.zen-faq {
  grid-area: "zen-faq";
  border: 5px solid purple;
}

.zen-submit {
  grid-area: "zen-submit";
  border: 5px solid purple;
}

.zen-translations {
  grid-area: "zen-translations";
  border: 5px solid purple;
}

.resources {
  grid-area: "resources";
  border: 5px solid purple;
}

.view-css {
  grid-area: "view-css";
  border: 5px solid purple;
}

.extra6 {
  grid-area: "extra6";
  border: 5px solid purple;
}

.extra6 {
  grid-area: "extra6";
  border: 5px solid purple;
}

.extra6 {
  grid-area: "extra6";
  border: 5px solid purple;
}

/*# sourceMappingURL=style.css.map */
